html {
  font-size: 125%;
  font-family: 'Lato', sans-serif;
}
.wrapper {
  max-width: 600px;
  width: 100%;
  margin: 10% auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  position: relative;
}
.wrapper h1 {
  font-size: 2.5rem;
}
.wrapper p {
  margin-top: 10%;
}
.text {
  display: inline-block;
  margin: 0 20px;
  animation: shake 0.5s infinite alternate;
}
.wrapper h2::before {
  position: absolute;
  top: 43%;
  left: 32%;
  content: '[ ';
  font-size: 2.5rem;
  color: #1ac8ce;
  margin-left: -10px;
  animation: opacity 1.5s infinite;
}
.wrapper h2::after {
  position: absolute;
  top: 43%;
  right: 16%;
  content: ' ]';
  font-size: 2.5rem;
  color: #1ac8ce;
  margin-right: -10px;
  animation: opacity 1.5s infinite;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes shake {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

@media (max-width: 599px) {
  .wrapper {
    max-width: 320px;
    margin: 35% auto;
  }
  .wrapper h1 {
    line-height: 4rem;
  }
  h2::before,
  h2::after {
    display: none;
  }
  .text {
    margin-top: 20px;
  }
}
