$primary: #0077b6;
$secondary: #0096c7;
$third: #00b4d8;
$orange: #fb8500;
$yellow: #ffb703;
$darkwhite: #bdbdbd;
$darkgrey: #4d4d4d;
$blue: #5197d7;
$black: rgba(0, 0, 0, 0.5);
$white: #fff;
$lightwhite: rgba(255, 255, 255, 0.9);
