@mixin mobile {
  @media (max-width: 478px) {
    @content;
  }
}

@mixin landscape {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 991px) and (orientation: landscape) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin Extra {
  font-family: 'Roboto', sans-serif;
  font-size: 65px;
  font-weight: 900;
}

@mixin Large {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

@mixin Medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 28px;
}

@mixin Regular {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

@mixin Small {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@mixin Micro {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@mixin Tiny {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

@mixin Section {
  text-align: center;
  padding: 80px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@mixin container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}
