@import './setup';
@import './colors';
@import './mixins';

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 65px;
  color: $white;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 37.5px;
  color: $lightwhite;
}

a {
  color: $white;
}

p {
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  line-height: 24.6px;
  letter-spacing: 2px;
  color: $lightwhite;
}

body {
  height: 100vh;
  background: url('../../assets/toronto-hero-min.png') no-repeat center center
    fixed;
  background-size: cover;
  position: relative;
}

h1 {
  margin: 20px 0;
}
h2 {
  margin-bottom: 90px;
}
button {
  padding: 12px 20px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid $white;
  border-radius: 5px;
  color: $white;
  transition: all 200ms ease-in;
  &:hover,
  &:focus {
    background-color: $blue;
  }
}

.navbar {
  padding: 40px 20px;
  .container {
    position: relative;
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: flex;
    margin-right: -15px;
  }
  &__list {
    padding: 12px 20px;
  }
  &__active {
    border-radius: 2px solid $blue;
  }
  &__togglebtn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 7px;
    right: 20px;
    font-size: 30px;
    color: $white;
    display: none;
    cursor: pointer;
    @include mobile {
      display: block;
    }
  }
}

.navbar__item:hover,
.navbar__item:active {
  border-bottom: 2px solid $blue;
}

// .navbar {
//   width: 100%;
//   position: fixed;
//   // display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 10px 20px;
//   background-color: transparent;
//   transition: all 300ms ease-in-out;
//   z-index: 7;
//   @include mobile {
//     flex-direction: column;
//     align-items: flex-start;
//     background-color: $primary;
//     padding: 5px 20px;
//   }
//   &--dark {
//     background-color: $primary;
//     // padding: 10px;
//   }
//   &__menu {
//     display: flex;
//     @include mobile {
//       flex-direction: column;
//       text-align: center;
//       width: 100%;
//       display: none;
//     }
//   }
//   &__list {
//     @include Medium;
//     padding: 8px 12px;
//     margin: 0 4px;
//     cursor: pointer;
//     color: $white;
//     border: 1px solid transparent;
//     border-radius: 5px;
//     transition: all 300ms ease-in;
//     &:active,
//     &:hover {
//       background-color: $third;
//       border-color: $white;
//       border-radius: 5px;
//     }
//   }
//   &__active {
//     border: 1px solid $white;
//   }

//   &__togglebtn {
//     background-color: transparent;
//     border: none;
//     position: absolute;
//     top: 17px;
//     right: 20px;
//     font-size: 30px;
//     color: $white;
//     display: none;
//     cursor: pointer;
//     @include mobile {
//       display: block;
//     }
//   }
// }

.home {
  height: 70%;
  .container {
    height: 100%;
    @include container;
    display: flex;
    align-items: center;
  }
  &__box {
    padding: 10px;
    background-color: $black;
    max-width: 580px;
    width: 100%;
    height: 425px;
  }
}

.about {
  height: 70%;
  .container {
    height: 100%;
    @include container;
    display: flex;
    align-items: center;
  }
  &__box {
    background-color: $black;
    height: 425px;
    display: flex;
  }
  &__content {
    padding: 10px 30px;
  }
  &__text {
    margin-bottom: 70px;
  }
}

.skills {
  height: 70%;
  .container {
    height: 100%;
    @include container;
    display: flex;
    align-items: center;
  }
  &__box {
    background-color: $black;
    height: 425px;
    display: flex;
  }
  &__content {
    padding: 10px 30px;
    width: 60%;
  }
  &__text {
    margin-bottom: 70px;
  }
}

.skillset {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  .skill {
    margin-bottom: 15px;
    &__desc {
      font-family: 'Archivo', sans-serif;
      display: flex;
      justify-content: space-between;
      color: $white;
    }
    &__bar {
      width: 100%;
      height: 3px;
      background-color: $darkwhite;
    }
    &__value {
      height: 3px;
      background-color: $blue;
    }
  }
}

.work {
  height: 70%;
  overflow: hidden;
  .container {
    height: 100%;
    @include container;
    display: flex;
    align-items: center;
  }
  &__box {
    padding: 10px 30px;
    background-color: $black;
    height: 450px;
    width: 100%;
  }
  .splide__slide {
    display: flex;
    align-items: center;
  }
  &__text {
    padding-left: 80px;
  }
  a {
    height: 300px;
  }
  img {
    max-height: 100%;
  }
}

.contact {
  height: 70%;
  .container {
    height: 100%;
    @include container;
    display: flex;
    align-items: center;
  }
  &__box {
    background-color: $black;
    width: 100%;
    height: 425px;
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 100%;
    padding: 10px 30px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  ::placeholder {
    color: $darkwhite;
    font-size: 18px;
  }
  &__input {
    padding: 3px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $white;
    margin-bottom: 5px;
    overflow: hidden;
    border-radius: 0;
    color: $white;
  }
  &__textarea {
    padding: 3px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $white;
    margin-bottom: 5px;
    height: 120px;
    resize: none;
    border-radius: 0;
    color: $white;
  }
  &__button {
    align-self: flex-start;
    border: 2px solid $white;
    border-radius: 5px;
    padding: 12px 45px;
    background-color: transparent;
    color: $white;
    transition: all 200ms ease-in;
    margin-top: 30px;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: $blue;
    }
  }
}

.footer {
  .container {
    @include container;
    display: flex;
    justify-content: flex-end;
  }
  &__box {
    padding: 10px;
    background-color: $black;
    max-width: 400px;
    width: 100%;
    position: relative;
  }
  p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
  }
  a {
    position: relative;
    z-index: 7;
    transition: all 200ms ease-in;
    &:hover,
    &:focus {
      color: $blue;
    }
  }
  &__credit {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
  }
  &__link {
    position: absolute;
    right: 65px;
    bottom: 15px;
    width: 100px;
    height: 10px;
    background-color: $blue;
    opacity: 0.8;
  }
}

// .work {
//   &__container {
//     @include Section;
//     @include mobile {
//       padding: 16px;
//       padding-top: 80px;
//     }
//   }
//   &__title {
//     @include Extra;
//     margin-bottom: 15px;
//     @include mobile {
//       @include Large;
//       font-weight: 900;
//     }
//   }
//   &__subtitle {
//     @include Large;
//     @include mobile {
//       @include Medium;
//     }
//   }
//   &__categories {
//     margin: 40px 60px;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     align-items: center;
//     @include mobile {
//       justify-content: center;
//       flex-grow: 1;
//     }
//   }
//   &__button {
//     position: relative;
//     border: 1px solid $darkwhite;
//     border-radius: 5px;
//     font-size: 18px;
//     // padding: 8px 48px;
//     // margin: 0 10px;
//     width: 170px;
//     height: 40px;
//     background-color: transparent;
//     text-align: center;
//     cursor: pointer;
//     @include mobile {
//       width: 100%;
//       margin: 5px 0;
//     }
//   }
//   &__active,
//   &__button:active,
//   &__button:hover {
//     background-color: $primary;
//     color: $white;
//   }
//   &__count {
//     border: 1px solid $orange;
//     border-radius: 50%;
//     background-color: $orange;
//     color: $white;
//     width: 24px;
//     height: 24px;
//     line-height: 24px;
//     display: inline-block;
//     position: absolute;
//     top: -25px;
//     right: 8px;
//     opacity: 0;
//     transition: all 300ms ease-in;
//   }
//   &__active &__count,
//   &__button:hover &__count {
//     opacity: 1;
//     top: 0;
//   }
//   &__projects {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     opacity: 1;
//     transition: all 300ms ease-out;
//     &--animation {
//       opacity: 0;
//       transform: scale(0.95) translateY(40px);
//     }
//   }
// }

// .project {
//   position: relative;
//   width: 250px;
//   height: 250px;
//   margin: 2px;
//   background-color: $lightwhite;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   &--hidden {
//     display: none;
//   }
//   @include mobile {
//     flex-grow: 1;
//   }
//   &:hover &__desc {
//     opacity: 0.8;
//     transform: translateY(0px);
//   }
//   &__img {
//     max-width: 100%;
//     max-height: 100%;
//   }
//   &__desc {
//     position: absolute;
//     background-color: black;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     opacity: 0;
//     transform: translateY(10px);
//     transition: all 300ms ease-in;
//   }
//   &__title {
//     color: $white;
//     @include Medium;
//   }
//   &__title:after {
//     content: '';
//     width: 80px;
//     height: 2px;
//     background-color: $darkwhite;
//     display: block;
//     position: relative;
//     left: 50%;
//     transform: translatex(-50%);
//     margin-top: 8px;
//     margin-bottom: 3px;
//   }
//   &__text {
//     @include Regular;
//     color: $white;
//   }
// }

// .contact {
//   // background-color: $darkgrey;
//   background-image: url('../../assets/home-hero-min.png');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   &__container {
//     @include Section;
//     @include mobile {
//       padding: 16px;
//       padding-top: 80px;
//     }
//   }
//   &__title {
//     @include Extra;
//     color: $white;
//     margin: 32px 0;
//     @include mobile {
//       @include Large;
//       font-weight: 900;
//     }
//   }
//   &__text {
//     @include Medium;
//     color: $white;
//     margin-bottom: 15px;
//     @include mobile {
//       @include Regular;
//     }
//   }
//   &__links {
//     margin: 24px 0;
//     i {
//       font-size: 48px;
//       color: $white;
//       transition: all 300ms ease-in;
//       margin: 0 5px;
//     }
//     i:hover {
//       transform: scale(1.1);
//       color: $orange;
//     }
//   }
// }

// .form {
//   max-width: 500px;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   margin: 0 auto;
//   &__input {
//     padding: 3px;
//     background-color: transparent;
//     border: none;
//     border-bottom: 2px solid $white;
//     margin-bottom: 5px;
//     overflow: hidden;
//     border-radius: 0;
//     color: $white;
//     @include tablet {
//       height: 45px;
//     }
//     @include mobile {
//       height: 40px;
//     }
//   }
//   ::placeholder {
//     color: $darkwhite;
//     font-size: 18px;
//   }
//   &__textarea {
//     padding: 3px;
//     background-color: transparent;
//     border: none;
//     border-bottom: 2px solid $white;
//     margin-bottom: 5px;
//     height: 250px;
//     resize: none;
//     border-radius: 0;
//     color: $white;
//     @include tablet {
//       height: 250px;
//     }
//   }
//   &__button {
//     align-self: center;
//     border: 2px solid $white;
//     border-radius: 5px;
//     font-size: 28px;
//     padding: 12px 18px;
//     text-transform: uppercase;
//     background-color: transparent;
//     color: $white;
//     transition: all 300ms ease;
//     margin-top: 20px;
//     cursor: pointer;
//     @include mobile {
//       @include Regular;
//     }
//     &:hover,
//     &:focus {
//       background: $primary;
//     }
//   }
// }

// .arrow__up {
//   position: fixed;
//   bottom: 50px;
//   right: 50px;
//   font-size: 50px;
//   width: 80px;
//   height: 80px;
//   line-height: 80px;
//   color: $white;
//   border: none;
//   outline: none;
//   padding: 0;
//   border-radius: 50%;
//   background-color: $third;
//   opacity: 0;
//   transition: opacity 300ms ease-in;
//   pointer-events: none;
//   overflow: hidden;
//   @include mobile {
//     width: 50px;
//     height: 50px;
//     line-height: 50px;
//     font-size: 30px;
//     bottom: 16px;
//     right: 16px;
//   }
//   &--show {
//     cursor: pointer;
//     pointer-events: auto;
//     opacity: 1;
//   }
// }

// .footer {
//   height: 60px;
//   background-color: $darkgrey;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   &__rights {
//     @include Regular;
//     color: $white;
//   }
// }

// media query for navbar togglebtn
@media (max-width: 767px) {
  .navbar__menu.show {
    display: block;
  }
}
