html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
i,
span {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background-color: #1576b9;
}
.navbar__menubox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar__list {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 5px;
}
.navbar__list:active, .navbar__list:hover {
  background-color: #5b6972;
}
.navbar__active {
  border: 1px solid #fff;
}
.navbar__logo {
  width: 250px;
  height: 250px;
}
.navbar__img {
  width: 100%;
  height: 100%;
}

.home {
  background-image: url("../../assets/home-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
  text-align: center;
}
.home__img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.home__title {
  color: #fff;
}
.home__desc {
  color: #fff;
}
.home__button {
  font-family: "Roboto", sans-serif;
  font-size: 1.167rem;
  font-weight: 400;
  font-weight: 900;
  margin: 2rem;
  padding: 0.667rem 1rem;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
}

.about {
  text-align: center;
  padding: 4.167rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.about__majors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0;
}
.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  border: 1px solid #1576b9;
  border-radius: 50%;
  margin-bottom: 15px;
  color: #1576b9;
}
.major__icon i {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
i .major__icon:active, .major__icon:hover {
  color: #fff7d1;
  -webkit-transform: rotate(-30deg) scale(1.1);
          transform: rotate(-30deg) scale(1.1);
}
.major__title {
  color: #4d4d4d;
}
.major__desc {
  color: #4d4d4d;
  font-family: "Roboto", sans-serif;
  font-size: 1.167rem;
  font-weight: 400;
}

.job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.job__desc {
  margin: 0 16px;
  text-align: left;
}
.job__name {
  color: #bdbdbd;
  font-size: 0.571rem;
}
.job__period {
  color: #bdbdbd;
  font-size: 14px;
}

.skills {
  background-color: #fff7d1;
}
.skills__container {
  text-align: center;
  padding: 4.167rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.skillset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #eeeeee;
  margin: 20px 0;
}
.skillset__left {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  background-color: #4d4d4d;
  padding: 20px 40px;
}
.skillset__right {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.skillset__title {
  color: #fff;
}

.skill {
  margin-bottom: 10px;
}
.skill__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: grey;
}
.skill__value {
  height: 3px;
  background-color: #feb546;
}

.tools {
  padding: 20px;
  background-color: #3e3a3a;
}

.etc {
  padding: 20px;
  background-color: grey;
}

.work {
  text-align: center;
  padding: 4.167rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.work__categories {
  margin: 40px;
}
.work__button {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  font-size: 18px;
  padding: 8px 48px;
  background-color: transparent;
}
.work__active, .work__button:active, .work__button:hover {
  background-color: pink;
  color: #fff;
}
.work__count {
  border: 1px solid #feb546;
  border-radius: 50%;
  background-color: #feb546;
  color: #fff;
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
.work__active .work__count, .work__button:hover .work__count {
  opacity: 1;
  top: 0;
}
.work__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project {
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project:hover .project__desc {
  opacity: 0.8;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__desc {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
.project__title {
  color: #fff;
}
.project__title:after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #bdbdbd;
  display: block;
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
}
.project__text {
  color: #fff;
}