html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  background-color: #f8f8f8;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
i,
span {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.loader-container {
  width: 100%;
  height: 100%;
}
.loader-container .wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader {
  width: 150px;
  height: 150px;
  border: 16px solid #a1a0a0;
  border-radius: 50%;
  border-top: 16px solid #1576b9;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.menu-nav li {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.menu-nav li:hover,
.menu-nav li:focus {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.menu-nav li a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.menu-nav li a:hover,
.menu-nav li a:focus {
  color: #1576b9;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  z-index: 17;
  background-color: #fff;
}
.menu .menu-container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.menu .menu-container .menu-nav li {
  padding: 10px 0;
}
.menu .menu-container .social-list {
  width: 100%;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu .menu-container .social-list li {
  padding: 0 10px;
}
.menu .menu-container .social-list li a {
  font-size: 1.7rem;
}
.menu .menu-container .social-list li a:hover,
.menu .menu-container .social-list li a:focus {
  color: #1576b9;
}

.social-list a i {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.social-list a i:hover,
.social-list a i:focus {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

header .wrapper {
  position: relative;
  height: 100vh;
  min-height: -webkit-fill-available;
}
header .half-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #1576b9;
  z-index: 1;
}
header .content-container {
  height: 100%;
  position: relative;
  padding: 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .content-container .nav-btn-container {
  position: absolute;
  right: 60px;
  top: 35px;
}
header .content-container .nav-btn-container .nav-btn {
  position: fixed;
  font-size: 2rem;
  z-index: 22;
  color: #1576b9;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
header .content-container .nav-btn-container .nav-btn:hover, header .content-container .nav-btn-container .nav-btn:focus {
  cursor: pointer;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
header .content-container h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 2px;
  line-height: 1;
  z-index: 10;
}
header .content-container h1 span {
  color: #1576b9;
}
header .content-container h2 {
  font-size: 1rem;
  position: absolute;
  top: 65%;
  right: 0;
  z-index: 10;
}
header .content-container .scroll-down {
  position: absolute;
  top: 75%;
  left: 30%;
  font-size: 3rem;
  color: #fff;
  -webkit-animation: scroll-down 5s infinite;
          animation: scroll-down 5s infinite;
  z-index: 10;
}

.about {
  margin-top: 100px;
}
.about .content-container {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
}
.about .content-container .img-container {
  height: calc(100% / 2);
}
.about .content-container .text-container {
  margin-top: 20px;
  height: calc(100% / 2);
  width: 100%;
  overflow: auto;
}
.about .content-container .text-container h2 {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 0.7;
  color: #1576b9;
  text-transform: uppercase;
}
.about .content-container .text-container h2 span {
  font-size: 3rem;
}
.about .content-container .text-container p {
  margin-top: 20px;
}
.about .skills-container {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .skills-container .skills {
  height: 100%;
  width: 100%;
  margin-right: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.skills li i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.2rem;
  padding: 10px;
}
.skills li i:hover, .skills li i:focus {
  cursor: pointer;
  color: #1576b9;
}

.skills span {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

.projects {
  padding: 0 30px;
}

.changing-fonts {
  margin-top: 100px;
}
.changing-fonts h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 0.7;
  color: #1576b9;
  text-transform: uppercase;
}
.changing-fonts h2 span {
  font-size: 3rem;
}
.changing-fonts .content-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
}
.changing-fonts .content-container .img-container {
  height: 30%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.changing-fonts .content-container .text-container {
  height: 70%;
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.changing-fonts .content-container .text-container .description {
  margin-bottom: 40px;
}
.changing-fonts .content-container .text-container .description p {
  margin-bottom: 20px;
}
.changing-fonts .content-container .text-container .made-with {
  width: 100%;
  margin-bottom: 40px;
}
.changing-fonts .content-container .text-container .made-with .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.changing-fonts .content-container .text-container .made-with .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.changing-fonts .content-container .text-container .made-with .icons i {
  font-size: 2rem;
}
.changing-fonts .content-container .text-container .links {
  width: 100%;
}
.changing-fonts .content-container .text-container .links .link-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.changing-fonts .content-container .text-container .links .link-items a {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.changing-fonts .content-container .text-container .links .link-items a:hover,
.changing-fonts .content-container .text-container .links .link-items a:focus {
  color: #1576b9;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.studio-ghibli {
  margin-top: 100px;
}
.studio-ghibli h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 0.7;
  color: #1576b9;
  text-transform: uppercase;
}
.studio-ghibli h2 span {
  font-size: 3rem;
}
.studio-ghibli .content-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}
.studio-ghibli .content-container .img-container {
  height: 30%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.studio-ghibli .content-container .text-container {
  height: 70%;
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.studio-ghibli .content-container .text-container .description {
  margin-bottom: 40px;
}
.studio-ghibli .content-container .text-container .description p {
  margin-bottom: 20px;
}
.studio-ghibli .content-container .text-container .made-with {
  margin-bottom: 40px;
  width: 100%;
}
.studio-ghibli .content-container .text-container .made-with .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.studio-ghibli .content-container .text-container .made-with .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.studio-ghibli .content-container .text-container .made-with .icons i {
  font-size: 2rem;
}
.studio-ghibli .content-container .text-container .links {
  width: 100%;
}
.studio-ghibli .content-container .text-container .links .link-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.studio-ghibli .content-container .text-container .links .link-items a {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.studio-ghibli .content-container .text-container .links .link-items a:hover,
.studio-ghibli .content-container .text-container .links .link-items a:focus {
  color: #1576b9;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.vid-monster {
  margin-top: 100px;
}
.vid-monster h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 0.7;
  color: #1576b9;
  text-transform: uppercase;
}
.vid-monster h2 span {
  font-size: 3rem;
}
.vid-monster .content-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}
.vid-monster .content-container .img-container {
  height: 30%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.vid-monster .content-container .text-container {
  height: 70%;
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.vid-monster .content-container .text-container .description {
  margin-bottom: 40px;
}
.vid-monster .content-container .text-container .description p {
  margin-bottom: 20px;
}
.vid-monster .content-container .text-container .made-with {
  width: 100%;
  margin-bottom: 40px;
}
.vid-monster .content-container .text-container .made-with .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.vid-monster .content-container .text-container .made-with .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.vid-monster .content-container .text-container .made-with .icons i {
  font-size: 2rem;
}
.vid-monster .content-container .text-container .links {
  width: 100%;
}
.vid-monster .content-container .text-container .links .link-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.vid-monster .content-container .text-container .links .link-items a {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.vid-monster .content-container .text-container .links .link-items a:hover,
.vid-monster .content-container .text-container .links .link-items a:focus {
  color: #1576b9;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.shopper-mapper {
  margin-top: 100px;
}
.shopper-mapper h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 0.7;
  color: #1576b9;
  text-transform: uppercase;
}
.shopper-mapper h2 span {
  font-size: 3rem;
}
.shopper-mapper .content-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}
.shopper-mapper .content-container .img-container {
  height: 30%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shopper-mapper .content-container .text-container {
  height: 70%;
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shopper-mapper .content-container .text-container .description {
  margin-bottom: 40px;
}
.shopper-mapper .content-container .text-container .description p {
  margin-bottom: 20px;
}
.shopper-mapper .content-container .text-container .made-with {
  width: 100%;
  margin-bottom: 40px;
}
.shopper-mapper .content-container .text-container .made-with .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.shopper-mapper .content-container .text-container .made-with .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.shopper-mapper .content-container .text-container .made-with .icons i {
  font-size: 2rem;
}
.shopper-mapper .content-container .text-container .links {
  width: 100%;
}
.shopper-mapper .content-container .text-container .links .link-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.shopper-mapper .content-container .text-container .links .link-items a {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.shopper-mapper .content-container .text-container .links .link-items a:hover,
.shopper-mapper .content-container .text-container .links .link-items a:focus {
  color: #1576b9;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

footer {
  margin-top: 100px;
}
footer .content-container {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}
footer .content-container h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 0.7;
  color: #1576b9;
  text-transform: uppercase;
}
footer .content-container h2 span {
  font-size: 3rem;
}
footer .content-container .text-container {
  margin-top: 20px;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .content-container .text-container .contact-info {
  width: 100%;
  height: 50%;
}
footer .content-container .text-container .contact-info p {
  margin-bottom: 20px;
}
footer .content-container .text-container .contact-form {
  width: 100%;
  height: 50%;
}
footer .content-container .contact-link {
  margin-top: 30px;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .content-container .contact-link a {
  font-size: 2rem;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
footer .content-container .contact-link a:hover,
footer .content-container .contact-link a:focus {
  color: #1576b9;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
footer .copyright {
  height: 10%;
  text-align: center;
  padding: 50px 15px;
}

.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-form form textarea {
  margin-top: 10px;
  resize: none;
}
.contact-form form input {
  margin-top: 10px;
}
.contact-form form button {
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  -ms-flex-item-align: center;
      align-self: center;
  width: 180px;
  text-transform: uppercase;
  background-color: #5b6972;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contact-form form button:hover,
.contact-form form button:focus {
  background-color: #1576b9;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  cursor: pointer;
}
.contact-form form ::-webkit-input-placeholder {
  text-align: center;
}
.contact-form form ::-moz-placeholder {
  text-align: center;
}
.contact-form form :-ms-input-placeholder {
  text-align: center;
}
.contact-form form ::-ms-input-placeholder {
  text-align: center;
}
.contact-form form ::placeholder {
  text-align: center;
}

@-webkit-keyframes scroll-down {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  10% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  20% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  30% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  40% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  70% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes scroll-down {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  10% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  20% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  30% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  40% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  70% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@media (min-width: 600px) {
  .wrapper {
    max-width: 800px;
  }

  .menu .menu-container .menu-nav li {
    padding: 15px 0;
  }
  .menu .menu-container .menu-nav li a {
    font-size: 1.5rem;
  }
  .menu .menu-container .social-list li {
    padding: 0 15px;
  }
  .menu .menu-container .social-list li a {
    font-size: 2.5rem;
  }

  header .content-container .nav-btn-container {
    right: 110px;
    top: 60px;
  }
  header .content-container .nav-btn-container .nav-btn {
    font-size: 3.5rem;
  }
  header .content-container h1 {
    font-size: 7rem;
  }
  header .content-container h2 {
    font-size: 1.2rem;
    position: absolute;
    top: 68%;
    right: 0;
    z-index: 10;
  }
  header .content-container .scroll-down {
    top: 77%;
    left: 38%;
  }

  .about .content-container .text-container h2 {
    font-size: 3rem;
  }
  .about .content-container .text-container h2 span {
    font-size: 4rem;
  }
  .about .content-container .text-container p {
    font-size: 1.2rem;
    margin-top: 30px;
  }

  .skills li i {
    padding: 15px;
    font-size: 3rem;
  }

  .changing-fonts h2 {
    font-size: 3rem;
  }
  .changing-fonts h2 span {
    font-size: 4rem;
  }
  .changing-fonts .content-container .text-container .description p {
    font-size: 1.1rem;
  }
  .changing-fonts .content-container .text-container .made-with {
    padding: 0 35px;
  }
  .changing-fonts .content-container .text-container .made-with .icons i {
    font-size: 2.5rem;
  }

  .studio-ghibli h2 {
    font-size: 3rem;
  }
  .studio-ghibli h2 span {
    font-size: 4rem;
  }
  .studio-ghibli .content-container .text-container .description p {
    font-size: 1.1rem;
  }
  .studio-ghibli .content-container .text-container .made-with {
    padding: 0 35px;
  }
  .studio-ghibli .content-container .text-container .made-with .icons i {
    font-size: 2.5rem;
  }

  .vid-monster h2 {
    font-size: 3rem;
  }
  .vid-monster h2 span {
    font-size: 4rem;
  }
  .vid-monster .content-container .text-container .description p {
    font-size: 1.1rem;
  }
  .vid-monster .content-container .text-container .made-with {
    padding: 0 35px;
  }
  .vid-monster .content-container .text-container .made-with .icons i {
    font-size: 2.5rem;
  }

  .shopper-mapper h2 {
    font-size: 3rem;
  }
  .shopper-mapper h2 span {
    font-size: 4rem;
  }
  .shopper-mapper .content-container .text-container .description p {
    font-size: 1.1rem;
  }
  .shopper-mapper .content-container .text-container .made-with {
    padding: 0 35px;
  }
  .shopper-mapper .content-container .text-container .made-with .icons i {
    font-size: 2.5rem;
  }

  footer .content-container h2 {
    font-size: 3rem;
  }
  footer .content-container h2 span {
    font-size: 4rem;
  }
  footer .content-container .text-container .contact-info p {
    font-size: 1.1rem;
  }
  footer .content-container .contact-link {
    margin-top: 40px;
  }
  footer .content-container .contact-link a {
    font-size: 2.2rem;
  }

  .contact-form form button {
    width: 190px;
    height: 40px;
  }
}
@media (min-width: 950px) {
  .wrapper {
    max-width: 1300px;
  }

  header .content-container .nav-btn-container {
    right: 150px;
    top: 80px;
  }
  header .content-container h1 {
    font-size: 9rem;
  }
  header .content-container h2 {
    top: 70%;
    right: 10%;
  }
  header .content-container .scroll-down {
    top: 78%;
    left: 40%;
    font-size: 4rem;
  }

  .about .content-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about .content-container .img-container {
    height: 100%;
    width: 40%;
    margin-right: 35px;
  }
  .about .content-container .text-container {
    margin-top: 0;
    height: 100%;
    width: 60%;
  }
  .about .content-container .text-container h2 {
    font-size: 3.5rem;
  }
  .about .content-container .text-container h2 span {
    font-size: 4.5rem;
  }
  .about .content-container .text-container p {
    font-size: 1.3rem;
    margin-top: 40px;
  }
  .about .skills-container {
    margin-top: 30px;
    padding: 0 30px;
  }

  .skills li i {
    font-size: 3.5rem;
    padding: 25px;
  }

  .changing-fonts h2 {
    font-size: 3.5rem;
  }
  .changing-fonts h2 span {
    font-size: 4.5rem;
  }
  .changing-fonts .content-container {
    margin-top: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .changing-fonts .content-container .img-container {
    height: 100%;
    width: 50%;
  }
  .changing-fonts .content-container .text-container {
    padding: 0;
    height: 100%;
    width: 50%;
  }
  .changing-fonts .content-container .text-container .description p {
    font-size: 1.5rem;
  }
  .changing-fonts .content-container .text-container .made-with .title p {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .changing-fonts .content-container .text-container .made-with .icons i {
    font-size: 3rem;
  }
  .changing-fonts .content-container .text-container .links .link-items a {
    font-size: 1.2rem;
  }

  .studio-ghibli h2 {
    font-size: 3.5rem;
  }
  .studio-ghibli h2 span {
    font-size: 4.5rem;
  }
  .studio-ghibli .content-container {
    margin-top: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .studio-ghibli .content-container .img-container {
    height: 100%;
    width: 50%;
  }
  .studio-ghibli .content-container .text-container {
    padding: 0;
    height: 100%;
    width: 50%;
  }
  .studio-ghibli .content-container .text-container .description p {
    font-size: 1.5rem;
  }
  .studio-ghibli .content-container .text-container .made-with .title p {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .studio-ghibli .content-container .text-container .made-with .icons i {
    font-size: 3rem;
  }
  .studio-ghibli .content-container .text-container .links .link-items a {
    font-size: 1.2rem;
  }

  .vid-monster h2 {
    font-size: 3.5rem;
  }
  .vid-monster h2 span {
    font-size: 4.5rem;
  }
  .vid-monster .content-container {
    margin-top: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .vid-monster .content-container .img-container {
    height: 100%;
    width: 50%;
  }
  .vid-monster .content-container .text-container {
    padding: 0;
    height: 100%;
    width: 50%;
  }
  .vid-monster .content-container .text-container .description p {
    font-size: 1.5rem;
  }
  .vid-monster .content-container .text-container .made-with .title p {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .vid-monster .content-container .text-container .made-with .icons i {
    font-size: 3rem;
  }
  .vid-monster .content-container .text-container .links .link-items a {
    font-size: 1.2rem;
  }

  .shopper-mapper h2 {
    font-size: 3.5rem;
  }
  .shopper-mapper h2 span {
    font-size: 4.5rem;
  }
  .shopper-mapper .content-container {
    margin-top: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .shopper-mapper .content-container .img-container {
    height: 100%;
    width: 50%;
  }
  .shopper-mapper .content-container .text-container {
    padding: 0;
    height: 100%;
    width: 50%;
  }
  .shopper-mapper .content-container .text-container .description p {
    font-size: 1.5rem;
  }
  .shopper-mapper .content-container .text-container .made-with .title p {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .shopper-mapper .content-container .text-container .made-with .icons i {
    font-size: 3rem;
  }
  .shopper-mapper .content-container .text-container .links .link-items a {
    font-size: 1.2rem;
  }

  footer .content-container h2 {
    font-size: 3.5rem;
  }
  footer .content-container h2 span {
    font-size: 4.5rem;
  }
  footer .content-container .text-container {
    margin-top: 40px;
    text-align: center;
  }
  footer .content-container .text-container .contact-info p {
    font-size: 1.3rem;
    margin-bottom: 40px;
  }
  footer .content-container .contact-link {
    padding: 0 120px;
  }
  footer .content-container .contact-link a {
    font-size: 2.5rem;
  }

  .contact-form form {
    padding: 0 200px;
  }
  .contact-form form button {
    margin: 40px 0;
    width: 250px;
    height: 50px;
  }
}
@media (min-width: 1450px) {
  .wrapper {
    max-width: 1700px;
  }

  .about .content-container .text-container {
    margin-top: 80px;
  }

  .changing-fonts .content-container .text-container {
    margin-top: 60px;
  }

  .studio-ghibli .content-container .text-container {
    margin-top: 60px;
  }

  .vid-monster .content-container .text-container {
    margin-top: 60px;
  }

  .shopper-mapper .content-container .text-container {
    margin-top: 60px;
  }

  footer .content-container {
    padding: 40px 30px;
  }
  footer .content-container .text-container .contact-info {
    padding: 0 100px;
  }
  footer .content-container .text-container .contact-info p {
    font-size: 1.5rem;
  }
  footer .content-container .contact-link {
    padding: 0 150px;
  }

  .contact-form form {
    padding: 0 300px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  header .wrapper {
    height: 1000px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  header .wrapper {
    height: 1000px;
  }
}